body {
    background: radial-gradient(circle at top left, #fdbb2d, #22c1c3); 
   
}
.jalan{
  height: 25px;
  background-color:#22c941;
  color: white;
}

.materi{
  text-align: justify;
  color:white;
  margin-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.link:hover{
  background: #8C95FA;
}
#info{
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  margin-top: 5rem;
}
#footer{
  margin-top: 7rem;
  height: 30px;
  color: white;
  text-align: center;
  background-color:#22c941;
  position: relative;
  
}